.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 4fr 3fr 1fr;
    column-gap: 15%;
    height: 100%;
}

.barra{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 5%;
    grid-column: 1/5;
    font-size: 25px;
    height: 100%;
    grid-row: 1 / 2;
}

.barra span{
    flex-grow: 1;
}

.medio{
    background-color: #327994;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1/5;
    color: white;
    grid-row: 2/5;
}

.medio span{
    font-size: 400%;
}

.final{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    grid-column: 1/5;
    grid-row: 5/6;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-style: hidden;
}